@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* Banner Css Code */
.banner-area{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 200px;
    margin-bottom: 60px;
}
.banner{
    text-align: center;
    color: #fff;
}
.banner span{
    display: block;
}
.banner h1 {
    font-size: 50px;
    line-height: 60px;
    padding-top: 150px;
    font-weight: 900;
    margin-top: 0;
}
.banner h4 {
    font-weight: 400;
    font-size: 18px;
    padding: 11px 270px;
    margin-bottom: 35px;
}
.btn{
    background-color: #FF5959;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 18px;
}

/* Donate CSS Code */
.donate-area{
    margin-bottom: 100px;
}
.donate-content{
    text-align: center;
}
.donate-content h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}
.donate-content h2 {
    font-weight: 400;
    font-size: 18px;
    padding: 0 315px;
    color: gray;
}
.donate-prize{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.single-prize{
    background-color: #eeeeee;
    padding: 30px 25px;
    margin-bottom: 80px;
    color: #858585;
    border-radius: 4px;
}
.single-prize h1{
    font-size: 30px;
}
.active{
    color: #FF5959;
    border: 3px solid #FF5959;
    background-color: #ffd7d0;
}
.amount-input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.amount-input input{
    margin-bottom: 20px !important;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 50px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #ddd;
}
.amount-input a{
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

/* Donate Plan CSS Code */
.donate-plan-area{
    margin-bottom: 100px;
}
.donate-plan-content{
    text-align: center;
}
.donate-plan-content h1{
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}
.donate-plan-content h2{
    font-weight: 400;
    font-size: 18px;
    padding: 0 315px;
    color: gray;
}
.donate-plan{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
}
.single-donate-plan {
    flex-basis: 280px;
    padding: 30px;
}
#food{
    background-color: #EDF5F6;
}
#shelter{
    background-color: #FFEEEE;
}
#education{
    background-color: #FFF4D6;
}
.single-donate-plan img{}
.single-donate-plan h1 {
    color: #333;
    font-size: 20px;
    margin: 15px 0px;
}
.single-donate-plan p{
    color: #989898;
}

/* About Us CSS Code */
.about-area{
    margin-bottom: 100px;
}
.about-area h1{
    text-align: center;
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}
.about{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
}
.about-content {
    width: 40%;
    box-shadow: 3px 3px 14px 6px #ccc;
    border-radius: 20px;
    padding: 60px 25px;
}
.about-content h1 {
    font-size: 22px;
    color: #333;
    font-weight: 600;
    text-align: start;
}
.about-content p {
    font-size: 15px;
    color: #333;
}
.about-menu{
    width: 20%;
    padding-left: 10px;
}
.about-menu h1 {
    font-size: 25px;
    font-weight: 600;
    text-align: start;
    background-color: #0184A8;
    padding: 7px 15px;
    color: #fff;
    margin-bottom: 0px;
}
.about-menu ul{
    padding-left: 0px;
    background-color: #E7F3F6;
}
.about-menu ul li{
    list-style: none;
}
.about-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    border-bottom: 1px solid #78BBCC;
    display: block;
    margin-bottom: 12px;
    padding: 3px 0px 10px 15px;
}





/* Update CSS Code */
.update-area{
    margin-bottom: 100px;
}
.update-content{
    text-align: center;
}
.update-content h1{
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}
.update-content h2{
    font-weight: 400;
    font-size: 18px;
    padding: 0 315px;
    color: gray;
}
form{
    background-color: #FFF4D6;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 80px 0;
}
form input {
    padding: 10px;
    font-size: 18px;
    margin-right: -4px;
    border-radius: 4px;
    outline: none;
    border: 0;
    /* border: 1px solid #ddd;
    border-right: 0; */
    background-color: #ddd;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
form input[type="submit"]{
    color: #fff;
    background-color: #FF5959;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}






/* Footer CSS Code */
footer{
    background-color: #0B0D17;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}
footer h1{
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #FF5959;
}
footer p{
    margin-top: 15px;
    font-size: 14px;
}











